body {
    background-color: rgb(176, 250, 250);
    
}
.ex1{
    font-family: 'Courier New', Courier, monospace;
    color: mediumvioletred;
    font-weight: 800;
}
.ex2{
    color: blue;
    font: x-large;
    font-style: oblique;
    font-family: Cambria, Cochin, serif;
}
.ex3{
    font-size: larger;
    font-weight: bolder;
    color: darkorange;
}
.ex4{
    font-variant-caps: small-caps;
    font-family: fantasy;
    color: midnightblue;
    font-size: 400%;
    text-align: justify;
}